.contact-form {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;

    .contact-form__content {
      animation: slideIn 0.3s ease-in-out forwards;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 3vw 6vw;
    border-radius: 1.389vw;
    box-shadow: 0 0.278vw 0.694vw rgba(0, 0, 0, 0.3);
    transform: translateY(20px);
    min-height: 30vw;
    position: relative;

    &__close-button {
      position: absolute;
      top: 3%;
      right: 3%;
      padding: 0.5vw;
      background: none;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
      rotate: 45deg;

      &__svg {
        height: 2vw;
        width: 2vw;
      }
    }

    &__title {
      font-size: 2.5vw;
      text-align: center;
      font-weight: bold;
      white-space: nowrap;
      opacity: 0;
      animation: fadeIn 0.3s ease-in-out 0.1s forwards;
    }

    &__sub-title {
      font-size: 1vw;
      color: rgba(0, 0, 0, 0.3);
      text-align: center;
      margin-bottom: 1.5vw;
      opacity: 0;
      animation: fadeIn 0.3s ease-in-out 0.2s forwards;
    }

    &__form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      animation: fadeIn 0.3s ease-in-out 0.3s forwards;
      position: relative;

      &__united {
        display: flex;
        width: 100%;
        gap: 1.389vw;
      }
    }

    &__thank-you {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 1.389vw;
      min-height: 100%;

      &__title {
        margin-bottom: 1.389vw;
      }

      &__sub-title {
        margin-bottom: 2.083vw;
      }
    }
  }

  .form-error-message {
    color: #ff0000;
    font-size: 0.833vw;
    text-align: center;
    width: 100%;
    text-align: start;

    @media (max-width: 768px) {
      font-size: 3vw;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  margin-bottom: 1.5vw;
  font-weight: 500;

  &.last-input {
    margin-bottom: 0;
    padding: 1vw 0vw;

    @media (max-width: 768px) {
      margin-top: 1vw;
    }
  }

  input,
  textarea {
    transition: border-color 0.3s ease-in-out;
    font-size: 0.8vw;

    &:focus {
      border-color: #666;
      outline: none;
    }

    &.invalid {
      border-color: #ff0000;
      border-width: 0.139vw;
    }
  }
}

label {
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 1.042vw;
}

input {
  width: 100%;
  border-radius: 1.042vw;
  border: 0.069vw solid black;
  padding: 1vw;
}

textarea {
  width: 100%;
  border-radius: 1.042vw;
  border: 0.069vw solid black;
  padding: 1.389vw 1.042vw;
  resize: none;
  height: 8vw;
  font-family: inherit;
  font-weight: 400;
}

.button {
  margin-top: 1vw;
}

@media (max-width: 768px) {
  .contact-form {
    &__content {
      border-radius: 4.651vw;
      padding: 4vw 15vw;

      &__close-button {
        &__svg {
          width: 5vw;
          height: 5vw;
        }
      }

      &__form-container {
        &__united {
          display: flex;
          flex-direction: column;
          margin-bottom: 1vw;
        }
      }

      &__title {
        font-size: 5vw;
        margin-top: 4vw;
        margin-bottom: 1vw;
      }

      &__sub-title {
        font-size: 2.5vw;
        margin-bottom: 5vw;
      }

      label {
        font-size: 3.5vw;
        margin-bottom: 1vw;
      }

      input {
        font-size: 3vw;
        padding: 3vw;
        border-radius: 3.488vw;
      }

      .action-button.--form {
        font-size: 4.5vw;
        padding: 4vw 20vw;
        border-radius: 11.628vw;
        margin-top: 3vw;
      }

      textarea {
        border-radius: 2.5vw;
        font-size: 3vw;
        padding: 3vw;
        height: 20vw;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
