#root {
  padding: 0 6.944vw;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

span {
  margin: 0;
  padding: 0;
}
